html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: block;
  margin: 0 0 50px;
}

.logo .image {
  margin: 0;
}

.main-links {
  margin: 0 0 50px;
}

.main-links-child {
  display: inline-block;
  padding: 24px 49px;
  margin: 0 25px 0 0;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.main-links-child:last-child {
  margin: 0;
}

.download-link {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  padding-left: 30px;
  background-color: #070217;
  background-image: url("../img/download.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.navigation_link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title,
.subtitle,
.chapter,
.paragraph,
.captioned_img,
.list,
.list_item {
  margin: 0;
}

.title,
.paragraph {
  margin-bottom: 40px;
}

.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  flood-color: #333;
}

.paragraph {
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.important-thought {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;
}

.grey-blocks {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: right;
}

.grey-blocks:last-child {
  margin: 0;
}

.grey-blocks .paragraph {
  width: 692px;
  margin-bottom: 10px;
}

.grey-block-content {
  background-image: url("../img/decorate-1.png");
}

.grey-block-result {
  background-image: url("../img/decorate-2.png");
}

.subtitle,
.chapter {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.chapter {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.list {
  padding-left: 15px;
}

.list_item {
  margin-bottom: 20px;
}

.list_item:last-child {
  margin: 0;
}

.list_item::marker {
  color: #3f2aff;
}

.image {
  margin-bottom: 40px;
}

.captioned_img .image {
  margin-bottom: 0;
}

.captioned_img {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.image-caption {
  border: 1px solid #b6b6b6;
  border-top: 0;
  padding: 19px 0 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
