html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: block;
  margin: 0 0 50px;
}

.logo .image {
  margin: 0;
}

.main-links {
  margin: 0 0 50px;
}

.main-links-child {
  display: inline-block;
  padding: 24px 49px;
  margin: 0 25px 0 0;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.main-links-child:last-child {
  margin: 0;
}

.download-link {
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-color: #070217;
  background-image: url("../img/download.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.navigation_link {
  font-size: 20px;
  border-bottom: 1px solid #3f2aff;
  color: #3f2aff;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title,
.subtitle,
.chapter,
.paragraph,
.captioned_img,
.list,
.list_item {
  margin: 0;
}

.title,
.paragraph {
  margin-bottom: 40px;
}

.title {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.paragraph {
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.important-thought {
  padding: 50px 95px;
  width: 100%;
  font-size: 30px;
  border-radius: 20px;
  color: white;
  background-color: #3f2aff;
}

.grey-blocks {
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.grey-blocks:last-child {
  margin: 0;
}

.grey-blocks .paragraph {
  margin-bottom: 10px;
  width: 692px;
}

.grey-block-content {
  background-image: url("../img/decorate-1.png");
}

.grey-block-result {
  background-image: url("../img/decorate-2.png");
}

.subtitle,
.chapter {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.chapter {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.list {
  padding-left: 15px;
}

.list_item {
  margin-bottom: 20px;
}

.list_item:last-child {
  margin: 0;
}

.list_item::marker {
  color: #3f2aff;
}

.image {
  margin-bottom: 40px;
}

.captioned_img .image {
  margin-bottom: 0;
}

.captioned_img {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.image-caption {
  padding: 19px 0 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  border: 1px solid #b6b6b6;
  border-top: 0;
}

.modules-container {
  margin: 0 auto;
  max-width: 1169px;
  font-family: Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.modules-header {
  padding-top: 50px;
  margin-bottom: 50px;
  color: #3F2AFF;
}

.modules-header-logo {
  width: 137px;
  height: 30px;
  margin-bottom: 25px;
}

.modules-header-back-btn {
  display: block;
  margin: 0 0 25px;
  padding-left: 52px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 45px;
  background-image: url("../img/back-arrow.svg");
}

.modules-header-page-name {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
}

.modules-cards {
  margin: 0 0 50px;
  padding: 0;
  min-width: 1169px;
  list-style-type: none;
  font-size: 0;
}

.modules-card {
  position: relative;
  display: inline-block;
  margin: 0 25px 25px 0;
  padding-top: 205px;
  min-width: 572px;
  min-height: 505px;
  font-size: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.modules-card:nth-child(2n) {
  margin: 0;
}

.modules-card-1 {
  background-image: url("../img/modules-1.jpg");
}

.modules-card-2 {
  background-image: url("../img/modules-2.jpg");
}

.modules-card-3 {
  background-image: url("../img/modules-3.jpg");
}

.modules-card-4 {
  background-image: url("../img/modules-4.jpg");
}

.modules-card-content {
  padding: 25px;
  padding-top: 0;
}

.modules-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #3F2AFF;
}

.modules-card-text-list {
  line-height: 165%;
  list-style-type: none;
  padding: 0;
}

.modules-card-number {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
}
